* {
    margin: 0;
    padding: 0;                              /* conf geral*/
    box-sizing: border-box;
}

header,
section h2,
section h3 {
        font-family: "Kanit", sans-serif;     /*  conf de letra  do cabeçalho e h2 h3*/
        font-weight: 200;
        font-style: normal;
}


body, input, textarea {
    font-family:sans-serif;                   /* letra dos textos*/
}

header {
    padding: 16px 0;
    background-color: #4f084d;             /* MEU CABEÇALHO  espaço e cor */
    color: #ecf0f1;
}


header nav li {
    display: inline;                         /* SOBRE SIMONE E CONTADO NO CABEÇALHO*/
    margin-left: 20px;
    font-size: 20px;
}

header nav li a {
    color: #ecf0f1;                       /*TIRAR A LINHA DOS LINKS*/
    text-decoration: none;
}

.container {
    max-width: 1280px;                      /* AJUSTE DE TELA*/
    width: 100%;  
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;                            /* ALINHA OS ITEM, COLOCA O TEXTO E AS FOTOS MENORES AO LADO DA PRINCIPAL*/
    align-items: center;
    justify-content: space-between;
}

.container img {
    height: 350px;                        /*foto principal*/
}

.fotos img {
    height: 180px;                       /* fotos menores */
}

.fotos li {
    display: inline;
    margin-right: 38px;                    /* DEIXA AS FOTOS UMA DO LADO DA OUTRA COM 38 DE TAMAMHO*/
}

section .container{
    align-items: flex-start;               /* DEIXA O TEXTO E AS FOTOS EM CIMA NO INICIO*/
}

section {
    padding: 24px 0;                       /* ESPAÇO DO CABEÇALHO COM O CORPO*/
}

section h2 {
    margin-bottom: 16px;                  /*para entar em contato*/
    color: #4f084d;
}

section {
    color: #4f084d;                     /* COR DAS LETRAS NO CORPO*/
}

section p {
    margin-bottom: 20px;                  /* ESPAÇO ENTRE O TEXTO*/
}

section img {
    margin-bottom: 8px;                   /*ESPAÇO EMBAIXO DAS FOTOS */
}

.principal{                              /* ESPAÇO ENTRE A FOTO PRINCIPAL E TEXTO*/
    margin-right: 32px;
}

.rede-social img {                      /* TAMANHO DOS ICONES*/
    height: 32px;
}

.rede-social li{
    display: inline;
    margin-inline: 20px;                  /* INDICA QUE OS ICONES ESTÃO UM DO LADO DO OUTRO E COM ESPAÇO DE 20PX*/
}

.rede-social li a {
    text-decoration: none;               /* TIRAR O RISQUINHO EMBAIXO DOS ICONES*/
}

#cont .container {
    display: block;                      /* MENSAGEM, ACOMPANHA E ONDE ESTOU EM BLOCO*/
}

.cont-pessoal {
    display: flex;                       /* OS 3 FICAM DO LADO DO OUTRO*/
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;                   /* FORMULARIO*/
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;                      /* TAMANHO DO CAMPO MENSAGEM*/
    height: 180px;
}

section h3 {
    margin-bottom: 16px;                 /* ESPAÇO */
}

form button {
    background-color: #4f084d;         /* cor do botão, da letra, sem borda, mão*/
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover { 
    background-color: #ca91c8;         /* deixar claro o cursor ao passar o mouse */
}

input:focus, textarea:focus {           /* ir até o elemento*/
    outline-color:#4f084d ;
}

footer {
    background-color: #4f084d;  
    color: #ecf0f1;                     /* rodapé*/
    padding: 16px 0;
}
